#shopcar {
  width: 100%;
  background: #F7F7F7;
}

#shopcar .header-top {
  width: 100%;
  height: 30px;
  background: #e3e4e5;
  border-bottom: solid 1px #e3e4e5;
  z-index: 3;
}

#shopcar .header-top .header_wrapper {
  width: 94%;
  margin: 0 auto;
  font-size: 12px;
}

#shopcar .header-top .header_wrapper .header-top1 {
  line-height: 30px;
  color: #6b6b6b;
  overflow: hidden;
  display: block !important;
  float: left;
}

#shopcar .header-top .header_wrapper .header-top1 a {
  color: #333333;
}

#shopcar .header-top .header_wrapper .header-top1 a i {
  color: #6b6b6b;
}

#shopcar .header-top .header_wrapper .header-top1 a:hover {
  color: #4FB99F;
}

#shopcar .header-top .header_wrapper .header-top2 {
  line-height: 30px;
  color: #6b6b6b;
  margin-left: 15px;
  float: left;
}

#shopcar .header-top .header_wrapper .header-top2 p {
  line-height: 30px;
  color: #6b6b6b;
}

#shopcar .header-top .header_wrapper .header-top2 p a {
  color: #6b6b6b;
}

#shopcar .header-top .header_wrapper .header-top2 p a i {
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  bottom: 1px;
}

#shopcar .header-top .header_wrapper .header-top2 p a i:hover {
  color: #4FB99F;
}

#shopcar .header-top .header_wrapper .header-top2 p a:hover {
  color: #4FB99F;
}

#shopcar .header-top .header_wrapper .header-top3 {
  height: 30px;
  float: right;
}

#shopcar .header-top .header_wrapper .header-top3 a {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  color: #6b6b6b;
  position: relative;
  border: 1px solid transparent;
}

#shopcar .header-top .header_wrapper .header-top3 a .icon-triangle-copy-copy-copy {
  color: #6b6b6b;
}

#shopcar .header-top .header_wrapper .header-top3 .sanjiao2,
#shopcar .header-top .header_wrapper .header-top3 .sanjiao4 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #bbb;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  -webkit-transform: rotate(180deg);
  -webkit-transition: -webkit-transform .4s;
}

#shopcar .header-top .header_wrapper .header-top3 a:hover {
  color: #4FB99F;
  background-color: #fff;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
  z-index: 3;
}

#shopcar .header-top .header_wrapper .header-top3 .sanjiao2,
#shopcar .header-top .header_wrapper .header-top3 .sanjiao4 {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #bbb;
  display: inline-block;
  vertical-align: middle;
  margin: 0 3px;
  -webkit-transform: rotate(0deg);
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

#shopcar .header-top .header_wrapper .header-top4 {
  position: absolute;
  background: #fff;
  top: 29px;
  width: 90px;
  padding: 0 10px;
  box-sizing: border-box;
  border: solid 1px #ccc;
  display: none;
  z-index: 2;
  left: 42.7%;
}

#shopcar .header-top .header_wrapper .header-top4 a {
  display: block;
  height: 30px;
  line-height: 30px;
  color: #6b6b6b;
  text-align: center;
}

#shopcar .header-top .header_wrapper .header-top4 a:hover {
  color: #4FB99F;
}

#shopcar .header-top .header_wrapper .header-top5 {
  position: absolute;
  background: #fff;
  top: 29px;
  width: 1198px;
  border: solid 1px #ddd;
  display: none;
  z-index: 2;
  font-size: 12px;
}

#shopcar .header-top .header_wrapper .header-top5 ul {
  height: 200px;
}

#shopcar .header-top .header_wrapper .header-top5 ul li {
  padding: 20px 0;
  height: 200px;
  width: 20%;
  float: left;
  overflow: hidden;
}

#shopcar .header-top .header_wrapper .header-top5 ul li h3 {
  font-weight: normal;
  margin: 0 20px 10px;
  font-size: 16px;
}

#shopcar .header-top .header_wrapper .header-top5 ul li div {
  padding: 0 20px;
}

#shopcar .header-top .header_wrapper .header-top5 ul li div a {
  float: left;
  height: 32px;
  line-height: 32px;
  color: #6b6b6b;
  width: 99px;
  position: relative;
}

#shopcar .header-top .header_wrapper .header-top5 ul li div a:hover {
  color: #4FB99F;
}

#shopcar .hd {
  height: 145px;
  clear: both;
  border-bottom: 1px solid transparent;
  background-color: #fff;
}

#shopcar .hd .hd1 {
  height: 145px;
  width: 220px;
  padding-left: 30px;
  float: left;
}

#shopcar .hd .hd1 h1 {
  text-indent: -999px;
}

#shopcar .hd .hd1 img {
  width: 140px;
  height: 63px;
  margin-left: 20px;
}

#shopcar .hd .hd2 {
  margin-left: 115px;
  margin-top: 25px;
  height: 72px;
  width: 540px;
  float: left;
  margin-left: 115px;
}

#shopcar .hd .hd2 .sosuo {
  border: 2px solid #4FB99F;
  height: 34px;
  width: 450px;
  padding: 0 5px;
}

#shopcar .hd .hd2 .soso {
  background-color: #4FB99F;
  border: 0;
  color: #fff;
  font-size: 16px;
  width: 70px;
  height: 38px;
  cursor: pointer;
}

#shopcar .hd .hd3 {
  width: 220px;
  height: 145px;
  text-align: right;
  float: right;
}

#shopcar .hd .hd3 .shopcar {
  width: 160px;
  margin-top: 25px;
  float: right;
  border: 1px solid #ccc;
  position: relative;
  font-size: 14px;
  text-align: left;
}

#shopcar .hd .hd3 .shopcar p {
  background: #fff;
  text-align: center;
  height: 38px;
  line-height: 38px;
  cursor: pointer;
  z-index: 1;
  font-size: 13px;
  box-sizing: border-box;
}

#shopcar .hd .hd3 .shopcar p span {
  padding: 0 3px;
  background: #4FB99F;
  color: #fff;
  height: 14px;
  line-height: 14px;
  border-radius: 14px;
}

#shopcar .hd .hd3 .shopcar .car {
  width: 300px;
  height: 500px;
  background: pink;
  position: absolute;
  top: 38px;
  right: 0;
  z-index: 1;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
  display: none;
}

#shopcar .hd .hd3 .shopcar:hover .car {
  display: block;
}

#shopcar .navigation {
  border-bottom: none;
  background: none;
  margin-top: -45px;
  height: 45px;
}

#shopcar .navigation .nav_main {
  width: 1200px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

#shopcar .navigation .nav_main .nav_menu {
  display: none;
  top: 45px;
  background: rgba(51, 51, 51, 0.6);
  width: 220px;
  height: 480px;
  position: absolute;
  left: 0;
  z-index: 5;
}

#shopcar .navigation .nav_main .nav_menu dl {
  font-size: 12px;
  color: #fff;
}

#shopcar .navigation .nav_main .nav_menu dl dt {
  padding: 8px 10px;
  position: relative;
  color: #fff;
}

#shopcar .navigation .nav_main .nav_menu dl dt b {
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}

#shopcar .navigation .nav_main .nav_menu dl dt b a {
  color: #fff;
}

#shopcar .navigation .nav_main .nav_menu dl dt span {
  display: block;
  height: 44px;
  line-height: 22px;
  overflow: hidden;
  padding-left: 24px;
}

#shopcar .navigation .nav_main .nav_menu dl dt span a {
  color: #fff;
  margin-right: 8px;
  white-space: nowrap;
  opacity: .7;
  display: inline-block;
}

#shopcar .navigation .nav_main .nav_menu dl dt:hover {
  background-color: #666;
}

#shopcar .navigation .nav_main .nav_menu dl dd {
  display: none;
  position: absolute;
  top: 0;
  min-height: 468px;
  border: 1px solid #dfdfdf;
  border-left: none;
  left: 220px;
  width: 760px;
  background: #fff;
  z-index: 5;
}

#shopcar .navigation .nav_main .nav_menu dl dd .erleft {
  width: 510px;
  margin: 10px;
  float: left;
}

#shopcar .navigation .nav_main .nav_menu dl dd .erleft .erleft-menu {
  border-bottom: solid 1px #eee;
  clear: both;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  overflow: hidden;
}

#shopcar .navigation .nav_main .nav_menu dl dd .erleft .erleft-menu h4 {
  float: left;
  width: 70px;
  line-height: 25px;
  color: #4FB99F;
}

#shopcar .navigation .nav_main .nav_menu dl dd .erleft .erleft-menu p {
  margin-left: 70px;
  line-height: 25px;
}

#shopcar .navigation .nav_main .nav_menu dl dd .erleft .erleft-menu p a {
  margin-right: 7px;
  display: inline-block;
  color: #333;
}

#shopcar .navigation .nav_main .nav_menu dl dd .erleft .erleft-menu p a::after {
  content: '|';
  margin-left: 7px;
  color: #cfcfcf;
}

#shopcar .navigation .nav_main .nav_menu dl dd .er-right {
  width: 200px;
  height: 458px;
  padding: 10px;
  position: relative;
  float: right;
}

#shopcar .navigation .nav_main .nav_menu dl dd .er-right div {
  width: 200px;
  height: 460px;
}

#shopcar .navigation .nav_main .nav_menu dl dd .er-right div img:nth-child(2) {
  border-top: dotted 1px #ccc;
}

#shopcar .navigation .nav_main .nav_menu dl:hover dd {
  display: block;
}

#shopcar .navigation .nav_main .allgoods {
  background: #4fb99f;
  position: absolute;
  height: 45px;
  color: #fff;
  width: 220px;
  padding: 0 15px;
  box-sizing: border-box;
  font-size: 15px;
  display: block;
  line-height: 45px;
}

#shopcar .navigation .nav_main .nav {
  margin-left: 230px;
  margin-top: -45px;
  width: 980px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  z-index: 15;
}

#shopcar .navigation .nav_main .nav a {
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  padding: 0 16px;
  color: #333;
  display: block;
  float: left;
}

#shopcar .navigation .nav_main .nav .sub_nav {
  height: 45px;
  float: left;
  line-height: 45px;
  position: relative;
}

#shopcar .navigation .nav_main .nav .sub_nav a {
  font-family: 'Microsoft YaHei';
  font-size: 16px;
  padding: 0 16px;
  color: #333;
  display: block;
  float: left;
  text-decoration: none;
}

#shopcar .navigation .nav_main .nav .sub_nav ul {
  display: none;
  background: #fff;
  position: absolute;
  top: 40px;
  left: 0;
  width: 110px;
  box-shadow: 0 0 3px #666;
  z-index: 13;
}

#shopcar .navigation .nav_main .nav .sub_nav ul li {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  padding: 0 15px;
}

#shopcar .navigation .nav_main .nav .sub_nav ul li:hover {
  background-color: #4FB99F;
}

#shopcar .navigation .nav_main .nav .sub_nav:hover ul {
  display: block;
}

#shopcar .mains {
  min-height: 450px;
  background: #fff;
}

#shopcar .mains .main1 {
  margin-top: 10px;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

#shopcar .mains .main1 .main11 {
  height: 40px;
  line-height: 40px;
  display: flex;
  align-items: center;
  font-size: 12px;
}

#shopcar .mains .main1 .main11 span {
  padding: 0 5px;
}

#shopcar .mains .main1 .main12 {
  margin-bottom: 10px;
  height: 752px;
  width: 1200px;
}

#shopcar .mains .main1 .main12 .main-left {
  position: relative;
  width: 440px;
  float: left;
}

#shopcar .mains .main1 .main12 .main-left .main-left0 {
  box-sizing: content-box;
}

#shopcar .mains .main1 .main12 .main-left .main-left1 {
  margin-bottom: 10px;
  padding-top: 10px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#shopcar .mains .main1 .main12 .main-left .main-left1 section {
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-left .main-left1 a {
  font-size: 12px;
  color: #333;
}

#shopcar .mains .main1 .main12 .main-left .main-left1 a i {
  margin-right: 2px;
  margin-left: 2px;
  color: #7597dc;
  text-align: center;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 {
  margin-bottom: 25px;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div {
  box-sizing: content-box;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div span {
  font-size: 14px;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i {
  display: inline-block;
  width: 32px;
  height: 32px;
  font-size: 20px;
  border-radius: 50%;
  line-height: 32px;
  border: 1px solid #666;
  text-align: center;
  margin: 0 4px;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(2) {
  color: #ff763b;
  border-color: #ff763b;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(3) {
  color: #56b6e7;
  border-color: #56b6e7;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(4) {
  color: #7bc549;
  border-color: #7bc549;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(5) {
  color: #33b045;
  border-color: #33b045;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(6) {
  color: #FDBE3D;
  border-color: #FDBE3D;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(2):hover {
  color: #fff;
  background-color: #ff763b;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(3):hover {
  color: #fff;
  background-color: #56b6e7;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(4):hover {
  color: #fff;
  background-color: #7bc549;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(5):hover {
  color: #fff;
  background-color: #33b045;
}

#shopcar .mains .main1 .main12 .main-left .main-left2 div i:nth-child(6):hover {
  color: #fff;
  background-color: #FDBE3D;
}

#shopcar .mains .main1 .main12 .main-right {
  font-family: Arial;
  color: #666;
  margin-left: 460px;
  z-index: 1;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 {
  border-bottom: 1px dotted #dfdfdf;
  padding-bottom: 10px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right11 .main-right111 {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right11 .main-right111 h2 {
  margin-bottom: 0;
  color: #666;
  font-size: 16px;
  width: 500px;
  height: 20px;
  overflow: hidden;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right11 .main-right111 div a {
  color: #9c9c9c;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right11 .main-right111 div a i {
  color: #6679b3;
  vertical-align: middle;
  margin-right: 5px;
  font-size: 16px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right11 p {
  font-size: 12px;
  color: #4fb99f;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 {
  background-color: #f7f7f7;
  padding: 5px 0;
  min-height: 52px;
  position: relative;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen {
  margin-left: 10px;
  margin-top: 0;
  display: flex;
  align-items: center;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc1 {
  width: 65px;
  white-space: nowrap;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc1 span {
  font-size: 12px;
  color: #6b6b6b;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc2 {
  width: 100%;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc2 .rightc21 {
  display: flex;
  align-items: center;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc2 .rightc21 div {
  cursor: pointer;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc2 .rightc21 div:nth-child(1) {
  color: #e73828;
  font-size: 18px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc2 .rightc21 div:nth-child(1) b {
  font-size: 22px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen .rightc2 .rightc21 div:nth-child(n+1) a {
  font-size: 12px;
  color: #6b6b6b;
  margin-left: 5px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen1 {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen1 h4 {
  width: 65px;
  white-space: nowrap;
  margin-right: 10px;
  font-size: 12px;
  color: #666;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen1 a {
  font-size: 12px;
  margin-right: 25px;
  color: #6679b3;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen2 {
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen2 h5 {
  color: #666;
  font-size: 12px;
  margin-right: 20px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen2 span {
  color: #333;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 .right-cen2 a {
  color: #7597dc;
  margin-left: 10px;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 ul {
  position: absolute;
  right: 0;
  top: 10px;
  display: flex;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 ul li {
  padding: 0 10px;
  border-right: 1px solid #ddd;
  text-align: center;
  display: flex;
  flex-direction: column;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right12 .main-right121 ul li a {
  color: #9c9c9c;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 {
  margin-top: 10px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div {
  display: flex;
  margin-left: 10px;
  align-items: flex-start;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div h5 {
  font-size: 12px;
  margin-right: 20px;
  color: #666;
  width: 65px;
  white-space: nowrap;
  line-height: 32px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div a {
  color: #4fb99f;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div {
  width: 100%;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div a {
  padding: 0 10px;
  min-height: 32px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  line-height: 32px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div a div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div a div span {
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div a div img {
  width: 30px;
  height: 30px;
  margin: 2px 8px 2px 0;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div .activing {
  border-color: #5dc800;
  color: #5dc800;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 div div a:hover {
  border-color: #5dc800;
  color: #5dc800;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 .peizhi {
  margin-bottom: 10px;
  display: flex;
  margin-left: 10px;
  align-items: center;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 .peizhi h5 {
  width: 65px;
  white-space: nowrap;
  display: flex;
  margin-right: 10px;
  justify-content: space-between;
}

#shopcar .mains .main1 .main12 .main-right .main-right1 .main-right13 .peizhi .peizhi1 {
  font-size: 12px;
  color: #4FB99F;
}

#shopcar .mains .main1 .main12 .main-right .main-right2 {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dotted #dfdfdf;
}

#shopcar .mains .main1 .main12 .main-right .main-right2 .dingwei {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}

#shopcar .mains .main1 .main12 .main-right .main-right2 .dingwei .pei {
  width: 80px;
  margin-top: 5px;
  margin-right: 20px;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right2 .dingwei .pei1 {
  width: 100%;
}

#shopcar .mains .main1 .main12 .main-right .main-right2 .dingwei .pei1 a {
  height: 27px;
  line-height: 27px;
  display: inline-block;
  padding: 0 4px 0 8px;
  cursor: pointer;
  color: #6b6b6b;
  border: 1px solid #dfdfdf;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right2 .dingwei .pei1 p {
  padding-top: 10px;
  font-size: 10px;
  color: #333;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 {
  margin-top: 10px;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu {
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu h5 {
  font-size: 12px;
  color: #666;
  margin-right: 30px;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu .baoxiu1 {
  display: flex;
  flex-wrap: wrap;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu .baoxiu1 .baoxius {
  display: flex;
  padding: 0 4px 0 8px;
  cursor: pointer;
  height: 27px;
  line-height: 27px;
  padding-right: 6px;
  margin-right: 5px;
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu .baoxiu1 .baoxius .baoxius1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu .baoxiu1 .baoxius .baoxius1 span {
  margin-left: 5px;
  font-size: 12px;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu .baoxiu1 .baoxius .baoxius1 span:nth-child(2) {
  padding: 2px 4px;
  display: inline-block;
  color: #fff;
  line-height: 1;
  border-radius: 3px;
  background-color: #4fb99f;
}

#shopcar .mains .main1 .main12 .main-right .main-right3 .baoxiu .baoxiu1 .baoxius .baoxius1 span:nth-child(4) {
  margin-right: 5px;
}

#shopcar .mains .main1 .main12 .main-right .main-right4 {
  margin-top: 10px;
  margin-left: 84px;
  font-size: 12px;
  color: red;
}

#shopcar .mains .main1 .main12 .main-right .main-right5 {
  margin-top: 10px;
  margin-left: 84px;
  font-size: 12px;
  color: #666;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru {
  margin-left: 10px;
  display: flex;
  align-items: flex-start;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru .jiaru1 {
  width: 65px;
  white-space: nowrap;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru .jiaru2 {
  width: 100%;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru .jiaru2 .jiaru21 {
  margin-top: 10px;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru .jiaru2 .jiaru21 .jwc {
  border: 1px solid #5dc800;
  color: #fff;
  background-color: #5dc800;
  padding: 0 20px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  margin-left: 13px;
  cursor: pointer;
  display: inline-block;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru .jiaru2 .jiaru21 .gm {
  padding: 0 20px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  margin-left: 13px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #666;
  color: #333;
}

#shopcar .mains .main1 .main12 .main-right .main-right7 .jiaru .jiaru2 .jiaru21 .huan {
  padding: 0 20px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  margin-left: 13px;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #666;
  color: #333;
}

#shopcar .mains .main1 .main14 {
  display: flex;
  justify-content: space-between;
}

#shopcar .mains .main1 .main14 .mainbuttoml {
  width: 220px;
  margin-top: 10px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis h3 {
  padding-left: 9px;
  font-size: 16px;
  color: black;
  width: 200px;
  margin: auto;
  height: 48px;
  margin-top: 10px;
  border-bottom: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis p {
  padding: 0 9px;
  font-size: 12px;
  color: black;
  width: 218px;
  height: 48px;
  margin-top: 10px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis p span {
  width: 109px;
  float: left;
  height: 28px;
  line-height: 28px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  color: #666;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .pinpai {
  height: 48px;
  padding: 0 9px;
  line-height: 40px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .pinpai .pinpai1 {
  font-size: 14px;
  border-bottom: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .pinpai .pinpai1 span:nth-child(1) {
  font-weight: 700;
  color: #333;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .pinpai .pinpai1 span:nth-child(1) {
  font-weight: 700;
  color: #ff6700;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .paizi {
  position: relative;
  overflow: hidden;
  height: 255px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .paizi ul {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .paizi ul li {
  padding: 5px 0;
  margin: 0 10px;
  border-bottom: 1px dashed #e8e8e8;
  line-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .paizi ul li a img {
  width: 93px;
  padding: 0 20px;
  height: 40px;
  float: left;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis1 .paizi ul li a span {
  color: #666;
  font-size: 12px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis21 {
  height: 48px;
  padding: 0 9px;
  line-height: 40px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis21 div {
  border-bottom: 1px solid #dfdfdf;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis21 div span:nth-child(1) {
  font-weight: 700;
  color: #666;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis21 div span:nth-child(2) {
  font-weight: 700;
  color: #ff6700;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li {
  border-bottom: 1px dashed #dfdfdf;
  padding: 10px 15px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a {
  display: block;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a img {
  width: 160px;
  height: 160px;
  margin: 0 auto;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a div {
  margin-left: 5px;
  font-size: 12px;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a div p:nth-child(1) {
  line-height: 20px;
  height: 40px;
  overflow: hidden;
  color: #333;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a div p:nth-child(2) {
  line-height: 30px;
  height: 30px;
  margin: 0;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a div p:nth-child(2) span {
  color: #9c9c9c;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a div p:nth-child(2) span:nth-child(2) {
  color: #e73828;
  font-weight: 700;
}

#shopcar .mains .main1 .main14 .mainbuttoml .peis2 .peis22 ul li a div .guanzhu {
  padding: 2px 5px;
  color: #fff;
  background-color: #4fb99f;
  display: inline-block;
  cursor: pointer;
}

#shopcar .mains .main1 .main14 .mainbuttomr {
  width: 970px;
  margin-top: 10px;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom1 {
  top: 0px;
  z-index: 1;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom1 #xiding {
  width: 970px;
  background: #f7f7f7;
  border-bottom: 1px solid #505050;
  display: flex;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom1 #xiding a {
  min-width: 80px;
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #333;
  background-color: transparent;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom1 #xiding .xi-active {
  background-color: #505050;
  color: #fff;
  margin-top: -1px;
  border-bottom: 1px solid #505050;
  box-sizing: content-box;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom1 .fix {
  position: fixed;
  left: 262px;
  top: 0;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom2 {
  padding-bottom: 20px;
  margin-top: -1px;
}

#shopcar .mains .main1 .main14 .mainbuttomr .mainbuttom2 .xidi {
  border: 1px solid #dfdfdf;
  display: none;
}
